div.container{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: stretch;
}

div.player{
    background-color: paleturquoise;
    grid-column-start: 1;
    grid-column-end:6;
    grid-row-start: 1;
    grid-row-end: 3;
}
div.challengers{
    padding-left:2%;
    padding-right:2%;
    background-color: pink;
    grid-column-start: 6;
    grid-column-end:13;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
div.challengerContainer{
    display: flex;
    flex-direction: row;
}
img.challengerImg{
    max-width: 150px;
}
div.arena{
    background-color: green;
    grid-column-start: 1;
    grid-column-end:13;
    grid-row-start: 3;
    grid-row-end: 9;
    height: 100%;
}
div.controls{
    
    padding-top: 30px;
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end:13;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: center;
   
}
div.playerInfo{
    align-content: center;
    text-align: center;
    display:flex;
    flex-direction: row;
}

ul.playerList{
    /* display:none; */
    list-style: none;
}

div.character{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    max-width: 150px;

}
div.charInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    max-width: 150px
}
img.charImgSelect{
    max-width: 150px;
}
div.charRoster{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div.none{
    display: none;
}

/* Button CSS*/
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 8px 16px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
 .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }
#attack{
    display:none;
}

